.App {
  max-width: 600px;
  margin: 0 auto; /* Центрируем форму */
}

.container {
  display: flex;
  justify-content: space-between; /* Располагаем компоненты по краям */
}

.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px; /* Расстояние между кнопками */
}

.ListGroup.Item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ListGroup.Item div {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
